.page-wrapper {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.main-wrapper {
    flex-grow: 1;
    display: flex;
}
.main-content {
    flex-grow: 1;

    .main-content-header {
        border-bottom: 1px solid var(--border-color);
        background: var(--white);
        padding: 10px 30px;
        z-index: 1;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        min-height: 70px;
        position: relative;
        @media screen and (max-width: 1279px) {
            padding-left: 15px;
            padding-right: 15px;
        }

        .page-title {
            margin: 0 20px 0 0;
        }

        .header-content-wrap {
            flex-grow: 1;
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            @media screen and (max-width: 575px) {
                width: 100%;
            }
        }
    }

    .main-content-body {
        padding: 30px;
        flex-grow: 1;
        flex-shrink: 0;
        overflow: hidden;
        overflow-y: auto;
        max-height: calc(100vh - 150px);
        @media screen and (max-width: 1279px) {
            padding: 15px;
        }
    }
}

.workflow-tabs {
    display: flex;
    margin: 0 -2px;
    padding: 0;
    list-style: none;

    > li {
        padding: 2px;

        &.active {
            .btn {
                background: var(--primary);
                color: var(--white);
            }
        }
    }

    .btn {
        &:hover {
            background: var(--primary);
            color: var(--white);
        }
    }
}

.action-wrapper {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    padding-left: 40px;
    align-items: center;

    @media screen and (max-width: 575px) {
        padding-left: 10px;
    }

    @media screen and (min-width: 992px) {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            left: 20px;
            width: 1px;
            height: 30px;
            background: var(--border-color);
        }
    }
}

.users-list {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -2px;
    padding: 0;
    list-style: none;

    > li {
        padding: 2px;
    }

    .user-box {
        display: block;
        position: relative;

        .user-count {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            font-weight: 500;
            font-size: 11px;
            line-height: 14px;
            text-align: center;
            border-radius: 100%;
            min-width: 14px;
            background: var(--primary);
            color: var(--white);
        }
    }
}

.action-drop-holder {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100%;

    @media screen and (min-width: 992px) {
        justify-content: unset;
        position: relative;
    }

    .action-opener {
        @media screen and (min-width: 992px) {
            display: none;
        }
    }

    .action-collapse & {
        .action-drop {
            @media screen and (max-width: 991px) {
                opacity: 1;
                visibility: visible;
                transform: scaleY(1);
            }
        }
    }

    .action-drop {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 991px) {
            position: absolute;
            top: 100%;
            right: 0;
            background: var(--white);
            border: 1px solid var(--border-color);
            width: 270px;
            padding: 15px;
            max-height: calc(100vh - 68px);
            overflow-x: auto;

            opacity: 0;
            visibility: hidden;
            transform: scaleY(0.5);
            transform-origin: top;
            transition: var(--base-trasition);
        }
    }

    .action-list {
        margin: 0 -6px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        > li {
            padding: 4px 6px;
        }
    }
}

.tab-content {
    position: relative;

    .tab-element {
        display: none;

        &.active {
            display: block;
        }
    }
}

.wrokflow-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    margin: 0 -4px;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 50%));
    }

    @media screen and (min-width: 992px) {
        grid-template-columns: repeat(auto-fit, minmax(170px, 20%));
    }

    .grid-col {
        padding: 4px;
    }
}

.workflow-block {
    background: var(--gray);
    border-radius: var(--border-radius);
    padding: 0;
    display: flex;
    flex-direction: column;

    .workflow-head,
    .workflow-body,
    .workflow-foot {
        padding: 8px;
    }

    .workflow-head {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        h3 {
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            margin: 0 8px 0 0;

            .count {
                display: inline-block;
                vertical-align: top;
                line-height: inherit;
                color: var(--gray-text);
                font-weight: 400;
            }
        }
    }

    .workflow-option {
        display: flex;
        flex-flow: row wrap;
        margin: -4px;
        list-style: none;
        flex-grow: 1;

        > li {
            padding: 4px;

            &.menu {
                flex-grow: 1;
                text-align: right;

                .btn {
                    margin: 0 0 0 auto;
                    [class^=zcIcon-], 
                    [class*=" zcIcon-"] {
                        font-size: 18px;
                    }
                }
            }

            .btn {
                padding: 0;
                width: auto;
                height: auto;
                color: rgba(var(--text-color-rgb), 0.6);

                &:hover {
                    color: var(--text-color);
                }

                [class^=zcIcon-], 
                [class*=" zcIcon-"] {
                    font-size: 14px;
                }
            }
        }
    }

    .workflow-body {
        padding-top: 0;
        padding-bottom: 5px;
        max-height: 600px;
        overflow: hidden;
        overflow-y: auto;
    }

    .workflow-foot {
        padding-top: 5px;

        .btn-add {
            color: var(--primary);
            border-color: rgba(7, 15, 33, 0.1);
            font-size: 14px;
        }
    }

    .add-card-box {
        position: relative;
        margin: 0 -10px;
        border-top: 1px solid var(--primary);
        padding: 0 10px;

        .box-head {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            margin: 0;

            label {
                margin: 0;
                padding: 0;
                font-weight: 600;
            }

            .btn {
                font-size: 16px !important;
                color: var(--danger);
                padding: 0;
                width: auto;

                [class^="zcIcon-"],
                [class*=" zcIcon-"] {
                    font-size: inherit;
                }
            }
        }

        .input-wrap {
            display: block;
            margin: 0 0 10px;
        }

        .input-group {
            display: flex;

            .input-wrap {
                padding: 0 15px 0 0;
                margin: 0;
                flex-grow: 1;
            }

            .btn {
                min-width: 60px;
                text-align: center;
                justify-content: center;
            }
        }
    }
}

.cards-list {
    padding: 0;
    margin: 0;
    list-style: none;

    > li {
        padding: 4px 0;
    }
}

.project-card {
    background: var(--white);
    border-radius: var(--border-radius);
    padding: 8px;
    font-size: 12px;

    .card-head {
        overflow: hidden;
        position: relative;
        padding-right: 25px;
        margin-bottom: 6px;

        .card-icon {
            position: absolute;
            top: 0;
            right: 0;
            color: rgba(var(--text-color-rgb), 0.6);
            font-size: 14px;
        }
    }

    .project-name {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 11px;
        line-height: 14px;
        margin-bottom: 2px;
        color: rgba(var(--text-color-rgb), 0.6);

        .status {
            width: 6px;
            height: 6px;
            flex-shrink: 0;
        }
    }

    .card-title {
        display: block;
        font-size: 12px;
        line-height: 15px;
    }

    .tag-list {
        margin: 0 -2px 5px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        font-size: 12px;
        line-height: 1;
        align-items: center;

        > li {
            padding: 2px;
        }

        .tag {
            min-height: 6px;
            min-width: 43px;
            font-size: 10px;
            line-height: 1;
            display: block;
            padding: 1px 4px;
            background: var(--cream);
            border-radius: var(--border-radius);

            &.primary {
                background: #deefff;
            }

            &.secondary {
                background: #ffdefc;
            }

            &.warning {
                background: #ffc690;
            }

            &.info {
                background: var(--cream);
            }
        }
    }

    .meta-list {
        margin: 0 -5px;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        font-size: 10px;
        line-height: 12px;
        color: rgba(var(--text-color-rgb), 0.6);
        // color: #6a6f7a;

        li {
            padding: 2px 4px;
        }

        .meta-box {
            display: flex;
            align-items: center;
            gap: 4px;
        }

        .icon {
            font-size: 14px;
        }
    }

    .date-created {
        display: inline-block;
        font-size: 10px;
        line-height: 12px;
        padding: 3px 5px;
        border-radius: 4px;
        background: rgba(var(--text-color-rgb), 0.08);
        color: rgba(var(--text-color-rgb), 0.5);
    }

    .card-foot {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0 0;

        .avatar {
            width: 18px;
            height: 18px;
        }
    }
}
