.header {
    background: var(--white);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    width: 100%;
    flex-shrink: 0;
    position: relative;
    z-index: 2;

    > .holder {
        display: flex;
        width: 100%;
    }
    @media screen and (min-width: 1280px) {
        .sidebar-collapse & {
            .brand-box {
                width: 90px;

                .btn-collapse {
                    transform: rotate(180deg);
                }
            }

            .brand-title {
                padding: 0;
                &:before {
                    display: none;
                }
                .brand-name {
                    opacity: 0;
                    position: absolute;
                    font-size: 0px;
                }

                .brand-initials {
                    opacity: 1;
                    position: relative;
                }

                .status {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }

    .brand-box {
        width: 270px;
        border-right: 1px solid var(--border-color);
        padding: 15px 5px 15px 10px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        transition: var(--base-trasition);
        flex-shrink: 0;

        @media screen and (max-width: 1279px) {
            width: 90px;
            justify-content: center;
            .brand-title {
                padding: 0;
                &:before {
                    display: none;
                }
                .brand-name {
                    opacity: 0;
                    position: absolute;
                    font-size: 0px;
                }

                .brand-initials {
                    opacity: 1;
                    position: relative;
                }

                .status {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 10px;
                    height: 10px;
                }
            }
        }

        .btn-collapse {
            width: 26px;
            height: 26px;
            padding: 2px;
            transition: var(--base-trasition);
            display: none;
            @media screen and (min-width: 1280px) {
                display: block;
            }
        }
    }
    .brand-title {
        display: inline-flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 5px;
        position: relative;
        padding-right: 20px;
        font-weight: 600;

        &:before {
            @include icon(\e90a);
            font-size: 18px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        .status {
            display: block;
            z-index: 1;
            transition: var(--base-trasition);
        }

        .brand-name {
            display: block;
            transition: var(--base-trasition);
            white-space: nowrap;
        }

        .brand-initials {
            --area: 36px;

            width: var(--area);
            height: var(--area);
            border: 1px solid var(--border-color);
            background: var(--border-color);
            text-transform: uppercase;
            border-radius: 100%;
            display: flex;
            align-items: center;
            overflow: hidden;
            justify-content: center;
            text-align: center;
            font-size: 13px;
            line-height: var(--area);
            transition: opacity 0.3s ease;

            opacity: 0;

            position: absolute;
        }
    }
}
.header-top-bar {
    flex-grow: 1;
    padding: 14px 30px;
    display: flex;
    align-items: center;
    gap: 8px;

    @media screen and (max-width: 1279px) {
        padding: 14px 15px;
        justify-content: flex-end;
    }

    @media screen and (max-width: 991px) {
        .user-collapse & {
            .option-bar-wrapper {
                opacity: 1;
                visibility: visible;
                transform: scaleY(1);
            }
        }
    }

    .option-bar-wrapper {
        flex-grow: 1;

        @media screen and (max-width: 991px) {
            position: absolute;
            top: 68px;
            right: 0;
            background: var(--white);
            border: 1px solid var(--border-color);
            width: 270px;
            padding: 15px;
            max-height: calc(100vh - 68px);
            overflow-x: auto;

            opacity: 0;
            visibility: hidden;
            transform: scaleY(0.5);
            transform-origin: top;
            transition: var(--base-trasition);
        }
    }

    .profile-box {
        @media screen and (min-width: 992px) {
            pointer-events: none;
        }
    }

    .menu-opener {
        @media screen and (min-width: 992px) {
            display: none;
        }
    }
}

.top-options-bar {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0 -4px;
    flex-grow: 1;

    @media screen and (max-width: 991px) {
        flex-wrap: wrap;
    }

    > li {
        padding: 4px;

        @media screen and (max-width: 991px) {
            flex-grow: 1;
        }

        &.profiles-list {
            @media screen and (max-width: 991px) {
                order: -1;
                width: 100%;
            }
        }

        &.search-box {
            flex-grow: 1;
            @media screen and (max-width: 991px) {
                order: -1;
            }
        }
    }
}

.profile-notification {
    position: relative;
    display: flex;
    // border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background: var(--border-color);

    .profiles {
        flex-grow: 1;
        display: flex;
        margin: 0 -10px;
        padding: 5px 6px;

        .profile-box {
            display: flex;
            align-items: center;
            padding: 0 10px;
            position: relative;
            gap: 4px;

            &:last-child {
                &:before {
                    display: none;
                }
            }

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                height: 64%;
                width: 1px;
                background: var(--text-color);
                opacity: 0.2;
                margin: 0 -1px 0 0;
            }
        }

        .count-label {
            display: block;
            border-radius: 4px;
            background: var(--text-color);
            padding: 4px 5px;
            font-weight: 600;
            color: var(--white);
            font-size: 12px;
            line-height: 1;
            text-align: center;
            min-width: 24px;

            &.active {
                background: var(--warning);
            }

            &.away {
                background: var(--teal);
            }
        }
    }

    .addon {
        flex-shrink: 0;
        display: flex;
        background: var(--white);

        .btn {
            border-radius: 0 var(--border-radius) var(--border-radius) 0;
            border-color: var(--border-color);
            background: var(--white);

            &:hover {
                background: var(--border-color);
            }
        }
    }
}

.search-input-wrap {
    position: relative;
    overflow: hidden;

    .icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        font-size: 20px;
    }

    .form-control {
        padding-left: 40px;
    }
}
